#include<stdio.h>
int main()
{
    int a,b,c;
    scanf("%d",&a);  
    for(int i=0;i<a;i++)
    {
        for(int j=1;j<=(a-i);j++)
        {
            printf(" ");
        }
        for(int k=1;k<=(i*2)+1;k++)
        {
            printf("*");
        }
        printf("\n");
    }
     for(int i=0;i<a;i++)
    {
        for(int j=1;j<=(i+2);j++)
        {
            printf(" ");
        }
        for(int k=1;k<(a-i)*2-2;k++)
        {
            printf("*");
        }
        printf("\n");
    }
}
    
